<footer class="footer">
  <small>
    <%= t "footer_msg" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about_link_name"), about_path %></li>
      <li><%= link_to t("contact_link_name"), contact_path %></li>
    </ul>
  </nav>
</footer>
